<div class="container">
    <div class="profile">
        <img src="../../../assets/ImagenPersonal.jpg" alt="Valentin Suetta">
        <h1>SOBRE MI</h1>
        <p>Mi nombre es Valentín Suetta, y a mis 21 años, me desempeño como desarrollador de software especializado en la plataforma .NET. Actualmente, formo parte de una empresa multinacional de renombre, PriceWaterhouseCoopers (PwC), donde contribuyo al desarrollo de soluciones tecnológicas innovadoras. Además de mi compromiso profesional, persigo activamente mi formación académica. Soy estudiante de la carrera Técnico Superior en Programación y Sistemas en la prestigiosa Universidad Tecnológica Nacional de Avellaneda (UTN), donde busco expandir mis conocimientos y habilidades en el ámbito de la informática. Es un honor darles la bienvenida al sitio "Sala de Juegos", un espacio digital que he concebido con el propósito de ofrecer una experiencia lúdica y entretenida. Aquí, como su nombre lo sugiere, encontrarán una variedad de juegos reconocidos y divertidos, diseñados para brindar momentos de diversión y entretenimiento.</p>
        <p>Además de disfrutar de los juegos disponibles, a continuacion, los invito a descubrir una creación personal: un juego desarrollado por mí mismo. Este proyecto representa mi pasión por la programación y mi compromiso con la innovación tecnológica. Los animo a explorar y experimentar con este juego, al igual que con los demás ofrecidos en este espacio.</p>
        <p>Una vez más, les extiendo una cordial bienvenida a este sitio. Espero que disfruten de su estancia y que encuentren en esta plataforma un espacio para el entretenimiento, el aprendizaje y la interacción.</p>
    </div>
</div>



<router-outlet></router-outlet>