<section class="container">
    <div class="login-container">
        <div class="circle circle-one"></div>
        <div class="form-container">
            <img src="../../../assets/PersonaLogin.png" alt="PersonaLoginImg" class="PersonaLoginImg" />
            <form>
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Contraseña" />
                <button id="btn_iniciarSesion" class="opacity">INICIAR SESION</button>
                <button id="btn_registrarse" class="opacity">REGISTRARSE</button>
            </form>
            <div class="register-forget opacity">
                <a href="">Autocompletar datos</a>
                <a href="">Olvide mi contraseña</a>
            </div>
        </div>
        <div class="circle circle-two"></div>
    </div> 
    <div class="theme-btn-container"></div>
</section>